.card-students {
  margin-bottom: 10px;
  background-color: #111111;
}

.icon-card:hover {
  cursor: pointer;
  height: 20px;
}

.btn-save {
  background-color: #f4a460;
  float: right;
  width: 130px;
}
